<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="/assets/style.css">

</head>

<body>
    <div>
        {{> header}}
        <hr>
    </div>
    <div>
        {{{content}}}
    </div>

    <div>
    {{> footer}}
    </div>
</body>


</html>